.orsCard {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px 0;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .orsCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  /* Cabeçalho e corpo de cada ORS */
  .orsHeader {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .orsMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .orsDetails {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  
  .orsButtons{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
  .orsButtons a{
    text-decoration: none;
  }

  /* Botões de ação (opcional) */
  .actionButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .actionButton:hover {
    background-color: #45a049;
  }
  
  /* Botões de navegação */
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .button:hover:not(:disabled) {
    background-color: #00695c;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .orsCard {
      width: 90%;
    }
  
    .divButtons{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      text-align: center;
    }
  }
  
  @media (max-width: 480px) {
    .orsCard {
      width: 100%;
    }
  }
  